*{
 margin:0;
 padding:0;
 box-sizing: border-box;
}

.dad_joke_container{
   
    background-color: rgba(255, 255, 255, 0.263);
    color:rgb(71, 55, 55);
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    font-size: 20px; position: relative;
    /* border:2px solid red; */
    

}
button{
    padding:10px 20px ;
    border:none;
    outline: none;;
    background: linear-gradient(to right,rgb(170, 170, 240),pink,rgb(170, 170, 240));
    color:white;
    font-size: 20px;
    box-shadow: 2px 2px 4px rgb(156, 197, 251);
}
button:hover{
    background: transparent;
    color:black;
}

h1{
    font-size: 40px;
}
section{
    height:100vh;
    background: radial-gradient(rgb(253, 163, 238),rgb(127, 203, 248));
    color:rgb(71, 55, 55);
    padding:40px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap:20px;
    
}
.dad_joke_content{
    padding:20px;
}

.dad_joke_content_container span{
    position: absolute;
    top:10px;
    right:20px;
}


.wrapper{
    height:80px;
    width: 80px;
    border-radius: 50%;
    border-top:6px solid rgb(245, 125, 145);
   
    animation:spin 1s infinite linear;
    display: none;
}

@keyframes spin{
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
    
}

